<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Veiculo</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo">Veiculo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Lista de Veiculos</a></li>
            </ul>
        </div>
    </nav>
</header>
<br>



<div>
    <table class="container">
        <thead>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Preco</th>
            <th>Descricao</th>
            <th>Tipo</th>
        </thead>
        <tbody>
            <tr th:each="veiculo : ${veiculo}">
                <td><span th:text="${veiculo.marca}"></span></td>
                <td><span th:text="${veiculo.modelo}"></span></td>
                <td><span th:text="${veiculo.ano}"></span></td>
                <td><span th:text="${veiculo.cor}"></span></td>
                <td><span th:text="${veiculo.preco}"></span></td>
                <td><span th:text="${veiculo.descricao}"></span></td>
                <td><span th:text="${veiculo.tipo}"></span></td>
                <td><a class="btn waves-effect waves-light" th:href="${(#mvc.url('VC#deletaVeiculo').arg(0, veiculo.id)).build()}"><i class="material-icons">delete</i></a></td>
                <td><a class="btn waves-effect waves-light" th:href="${(#mvc.url('VC#editarVeiculo').arg(0, veiculo.id)).build()}"><i class="material-icons">edit</i></a></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>