<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Veiculo App</title>
</head>
<body>

  <form method="post">
    marca: <input type="text" value="" name="marca">
    modelo: <input type="text" value="" name="modelo">
    cor: <input type="text" value="" name="cor">
    ano: <input type="text" value="" name="ano">
    preco: <input type="text" value="" name="preco">
    descricao: <input type="text" value="" name="descricao">
    tipo: <input type="text" value="" name="tipo">

    <button type="submit">Salvar</button>
  </form>


</body>
</html>